

# Windows folder config file
Desktop.ini
C02_RabbitMQBroker/comenziCreareContainer.txt
C02_RabbitMQBroker/RabbitMQServiceGUI.txt
C02_RabbitMQBroker/tutorialFile.txt
C04_OpenMPI_Extra_Client/java-app/comenziDocker.txt
C04_OpenMPI_Extra_Client/mpi-node/comenziBuldDocker.txt
C05_NodeJs_MongoDB/comanda start mongo.txt
C05_NodeJs_MongoDB/comenziDocker.txt
C01_BackEnd_Javalin/target/original-C01_BackEnd_Javalin-1.0-SNAPSHOT.jar
C01_BackEnd_Javalin/docker-compose.yml
C04_OpenMPI_Extra_Client/.vscode/settings.json
C04_OpenMPI_Extra_Client/java-app/.vscode/settings.json
C01_BackEnd_Javalin/target/maven-archiver/pom.properties
C04_OpenMPI_Extra_Client/java-app/target/maven-archiver/pom.properties
C01_BackEnd_Javalin/lib/amqp-client-5.12.0-sources.jar
C01_BackEnd_Javalin/lib/amqp-client-5.12.0.jar
C01_BackEnd_Javalin/lib/amqp-client-5.14.0.jar
C01_BackEnd_Javalin/lib/amqp-client-5.16.0.jar
C01_BackEnd_Javalin/lib/amqp-client-5.21.0-sources.jar
C01_BackEnd_Javalin/lib/amqp-client-5.21.0.jar
C01_BackEnd_Javalin/lib/amqp-client-5.25.0.jar
C01_BackEnd_Javalin/lib/annotations-13.0-sources.jar
C01_BackEnd_Javalin/lib/annotations-13.0.jar
C01_BackEnd_Javalin/lib/bson-4.10.2-sources.jar
C01_BackEnd_Javalin/lib/bson-4.10.2.jar
C01_BackEnd_Javalin/lib/bson-record-codec-4.10.2-sources.jar
C01_BackEnd_Javalin/lib/bson-record-codec-4.10.2.jar
C01_BackEnd_Javalin/lib/geronimo-jms_1.1_spec-1.1.1-sources.jar
C01_BackEnd_Javalin/lib/geronimo-jms_1.1_spec-1.1.1.jar
C01_BackEnd_Javalin/lib/jackson-annotations-2.17.2-sources.jar
C01_BackEnd_Javalin/lib/jackson-annotations-2.17.2.jar
C01_BackEnd_Javalin/lib/jackson-core-2.17.2-sources.jar
C01_BackEnd_Javalin/lib/jackson-core-2.17.2.jar
C01_BackEnd_Javalin/lib/jackson-databind-2.17.2-sources.jar
C01_BackEnd_Javalin/lib/jackson-databind-2.17.2.jar
C01_BackEnd_Javalin/lib/jakarta.annotation-api-2.0.0.jar
C01_BackEnd_Javalin/lib/jakarta.annotation-api-2.1.1-sources.jar
C01_BackEnd_Javalin/lib/jakarta.annotation-api-2.1.1.jar
C01_BackEnd_Javalin/lib/jakarta.jms-api-3.0.0-sources.jar
C01_BackEnd_Javalin/lib/jakarta.jms-api-3.0.0.jar
C01_BackEnd_Javalin/lib/javalin-6.1.3-sources.jar
C01_BackEnd_Javalin/lib/javalin-6.1.3.jar
C01_BackEnd_Javalin/lib/javalin-6.6.0-sources.jar
C01_BackEnd_Javalin/lib/javalin-6.6.0.jar
C01_BackEnd_Javalin/lib/javalin-rendering-6.2.0-sources.jar
C01_BackEnd_Javalin/lib/javalin-rendering-6.2.0.jar
C01_BackEnd_Javalin/lib/javax.jms-api-2.0.1.jar
C01_BackEnd_Javalin/lib/jetty-http-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-http-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-http-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-http-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-io-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-io-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-io-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-io-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-jakarta-servlet-api-5.0.2-sources.jar
C01_BackEnd_Javalin/lib/jetty-jakarta-servlet-api-5.0.2.jar
C01_BackEnd_Javalin/lib/jetty-security-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-security-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-security-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-security-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-server-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-server-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-server-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-server-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-servlet-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-servlet-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-servlet-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-servlet-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-util-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-util-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-util-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-util-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-webapp-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-webapp-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-webapp-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-webapp-11.0.25.jar
C01_BackEnd_Javalin/lib/jetty-xml-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/jetty-xml-11.0.20.jar
C01_BackEnd_Javalin/lib/jetty-xml-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/jetty-xml-11.0.25.jar
C01_BackEnd_Javalin/lib/jms-1.1.jar
C01_BackEnd_Javalin/lib/json-20250107-sources.jar
C01_BackEnd_Javalin/lib/json-20250107.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.22-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.22.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.24-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.24.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.25-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-1.9.25.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.22-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.22.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.24-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.24.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.25-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk7-1.9.25.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.22-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.22.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.24-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.24.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.25-sources.jar
C01_BackEnd_Javalin/lib/kotlin-stdlib-jdk8-1.9.25.jar
C01_BackEnd_Javalin/lib/mongodb-driver-core-4.10.2-sources.jar
C01_BackEnd_Javalin/lib/mongodb-driver-core-4.10.2.jar
C01_BackEnd_Javalin/lib/mongodb-driver-sync-4.10.2-sources.jar
C01_BackEnd_Javalin/lib/mongodb-driver-sync-4.10.2.jar
C01_BackEnd_Javalin/lib/rabbitmq-jms-2.3.0-sources.jar
C01_BackEnd_Javalin/lib/rabbitmq-jms-2.3.0.jar
C01_BackEnd_Javalin/lib/rabbitmq-jms-2.4.0.jar
C01_BackEnd_Javalin/lib/rabbitmq-jms-2.8.0.jar
C01_BackEnd_Javalin/lib/slf4j-api-1.7.30-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-1.7.30.jar
C01_BackEnd_Javalin/lib/slf4j-api-1.7.32.jar
C01_BackEnd_Javalin/lib/slf4j-api-1.7.36-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-1.7.36.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.7.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.10-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.10.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.12-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.12.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.13-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.13.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.17-sources.jar
C01_BackEnd_Javalin/lib/slf4j-api-2.0.17.jar
C01_BackEnd_Javalin/lib/slf4j-simple-2.0.10-sources.jar
C01_BackEnd_Javalin/lib/slf4j-simple-2.0.10.jar
C01_BackEnd_Javalin/lib/slf4j-simple-2.0.13-sources.jar
C01_BackEnd_Javalin/lib/slf4j-simple-2.0.13.jar
C01_BackEnd_Javalin/lib/websocket-core-common-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-core-common-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-core-common-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-core-common-11.0.25.jar
C01_BackEnd_Javalin/lib/websocket-core-server-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-core-server-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-core-server-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-core-server-11.0.25.jar
C01_BackEnd_Javalin/lib/websocket-jetty-api-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-api-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-jetty-api-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-api-11.0.25.jar
C01_BackEnd_Javalin/lib/websocket-jetty-common-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-common-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-jetty-common-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-common-11.0.25.jar
C01_BackEnd_Javalin/lib/websocket-jetty-server-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-server-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-jetty-server-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-jetty-server-11.0.25.jar
C01_BackEnd_Javalin/lib/websocket-servlet-11.0.20-sources.jar
C01_BackEnd_Javalin/lib/websocket-servlet-11.0.20.jar
C01_BackEnd_Javalin/lib/websocket-servlet-11.0.25-sources.jar
C01_BackEnd_Javalin/lib/websocket-servlet-11.0.25.jar
C01_BackEnd_Javalin/.vscode/settings.json
C01_BackEnd_Javalin/out/production/C01_Backend/main/resources/public/about.html
C01_BackEnd_Javalin/out/production/C01_Backend/main/resources/public/main.html
C01_BackEnd_Javalin/out/production/C01_Backend/main/resources/public/style.css
C01_BackEnd_Javalin/out/production/C01_Backend/public/about.html
C01_BackEnd_Javalin/out/production/C01_Backend/public/main.html
C01_BackEnd_Javalin/out/production/C01_Backend/public/style.css
